@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* Flexboxを有効にし、子要素を縦方向に配置 */
  display: flex;
  flex-direction: column;
  /* 最小の高さをビューポートの高さに設定 */
  min-height: 100vh;
}

html, body {
  /* ビューポート全体の高さを占有 */
  height: 100%;
}

#__next {
  min-height: 100vh; /* ビューポート全体の高さを確保 */
  display: flex;
  flex-direction: column;
}

